.activity-list {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.activity-list>li {
	width: 50%;
	height: 360px;
	box-sizing: border-box;
}

.activity-list>li>a,
.activity-list>li img {
	display: block;
	width: 100%;
	height: 100%;
}

.activity-list-text {
	padding-left: 40px;
}

.activity-list-text>h3 {
	font-size: 20px;
	line-height: 30px;
	height: 70px;
	overflow: hidden;
	padding-top: 46px;
}

.activity-list-text>h3>a {
	color: #333;
	font-size: 20px;
	line-height: 30px;
}

.activity-list-text>p {
	height: 96px;
	line-height: 24px;
	font-size: 16px;
	color: #666;
	overflow: hidden;
	margin: 30px 0 36px;
}

.activity-list-text>button {
	display: block;
	color: #fff;
	text-align: center;
	font-size: 14px;
	background: #00923f;
	width: 120px;
	height: 40px;
	line-height: 40px;
	border: none;
}

.activity-list>.activity-list-text:nth-child(2n+1) {
	padding: 0;
	padding-right: 40px;
}

.fenye {
	display: flex;
	justify-content: center;
	margin-top: 40px;
	margin-bottom: 40px;
}

.fenye>div {
	width: 40px;
	height: 40px;
	line-height: 38px;
	border: solid 1px #00923f;
	font-size: 18px;
	color: #00923f;
	margin: 0 5px;
	text-align: center;
}
.fenye>div:nth-of-type(2){
	background-color: #00923f;
	color: #fff;
}
.footer{
	
	min-width: 1256px !important;
}
.footer-container{
	width: 90%;
}
/*移动*/
@media screen and (max-width:750px) {
	.h-top{
		height: 50px;
	}
	.h-nav a{
		line-height: 50px;
	}
	.h-logo{
		margin-left: 0%;
	}
	.h-logo, .h-logo>a, .h-logo img{
		width: 50px;
		height: 40px;
	}
	.h-nav a{
		padding: 0 5px;
		white-space: nowrap;
	}
	.h-nav{
		/* justify-content: space-between; */
	}
	.h-language{
		margin-right: 0;
		display: none;
	}
	.header{
		min-width: 0;
		width: 100%;
	}
	.h-top{
		width: 100%;
	}
	.container{
		width: 100%;
	}
	.footer{
		width: 100%;
		min-width: 0 !important;
	}
	.body-title{
		font-size: 25px;
	}
	.activity-list>li{
		height: 200px;
	}
	.activity-list-text>h3{
		padding: 0;
		line-height: 20px;
		height: 50px;
	}
	.activity-list-text>h3>a{
		padding-top: 20px;
		font-size: 18px;
		line-height: 20px;
	}
	.activity-list-text>p{
		margin: 0;
		padding-left: 0;
	}
}