@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1621149766799') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yonghu:before {
  content: "\e607";
}

.icon-lock-fill:before {
  content: "\eb7a";
}

.icon-tupian:before {
  content: "\e608";
}

.icon-you:before {
  content: "\e696";
}

